@inherits LayoutComponentBase

<div class="container-fluid">

        <div class="row justify-content-md-center" style="background-color: #535353;">
            <div class="container">
                <div class="row" style="height: 100px;">
                    

                    <div class="col-sm-12 col-md-12 align-self-center" >
                        <h1 class="herotitle text-center" style="color: #FFFFFF">
                            Online GUID Generator
                        </h1>
                    </div>
                </div>
                  
            </div>
        </div>
        <div class="wrapper">
        <div class="container">
            <div clas="row">
                <div class="col-md content-area">
                    <main class="site-main">
                        @Body
                    </main>
                </div>
            </div>
        </div>
        </div>
</div>